.body{
    /* border-style: solid; */
    /* border-color: brown; */
    border-width: 60px;
    /* border-image: url(/image/logo.jpeg); */
    border-image-slice: 90% round;
    border-image-repeat: repeat;
    /* background-color: rgb(232, 231, 231); */



}

.abt1{
    display: flex;
    padding: 40px;
}
.obj{
    word-spacing: 1px;
    padding-bottom: 20px;
    margin-left: 30%;
}
#objectives{
    text-align: center;
    height: 10%;
}